<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 视口 -->
		<meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/detail.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="zxr">
			<div class="header">
				<div class="others"></div>
				<!-- 此处用bootstrap插件做一个导航栏 -->
				<nav class="navbar navbar-default navbar-fixed-top">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        </button>
				      <a class="navbar-brand" href="#">CinryのBlog</a>
				    </div>
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      	<ul class="nav navbar-nav navbar-right">
					        <li><a href="/">网站首页</a></li>
					        <li class="dropdown ">
						         <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的博客 <span class="caret"></span>
						         </a>
						         <ul class="dropdown-menu">
						            <li><a href="#">专业技术</a></li>
						            <li><a href="#">随思随想</a></li>
						         </ul>
					        </li>
					        <li><a href="/personal">关于我</a></li>
					        <li><a href="/editArt">发表文章</a></li>
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>   <!-- header end -->
			<div class="content">
				<div class="left">
					<div class="smallNav">
						<ul class="clearfix">
							<li><a href="#"><span class="glyphicon glyphicon-home"></a></span></li>
							<li><a href="/tech">专业技术</a></li>
							<li class="title">
							<!-- 前端MVVM框架之“Vue.js实战篇” -->
							<%= artData.title %>
						</li>
						</ul>
					</div>
					<div class="article">
						<h3><%= artData.title %></h3>
						<div class="tabs">
							<ul class="clearfix">
								<li><span class="glyphicon glyphicon-list-alt"></span>Python</li>
								<li class="author"><span class="glyphicon glyphicon-user"></span><%= artData.author %></li>
								<li>
									<span class="glyphicon glyphicon-time "></span>
									<span class="timeNow"><%= artData.date %></span>
								</li>
								<li><span class="glyphicon glyphicon-eye-open"></span><strong><%= artData.watch %></strong>次 浏览</li>
								<li><span class="glyphicon glyphicon-heart"></span><strong><%= artData.like %></strong>个 喜欢</li>
							</ul>
						</div>
						<div class="main">
							<p></p>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="tag">
						<h4>标签云</h4>
						<div class="ts clearfix">
								<a>html(3)</a>
								<a>css(3)</a>
								<a>js(3)</a>
								<a>vue(3)</a>
								<a>node(3)</a>
								<a>react(3)</a>
						</div>
					</div>
					<div class="new">
						<h4>最新推荐</h4>
						<ul class="clearfix">
							<li><span class="order">1</span>前端构建工具之“Webpack”</li>
							<li><span class="order ">2</span>前端构建工具之“Webpack”</li>
							<li><span class="order">3</span>前端构建工具之“Webpack”</li>
							<li><span class="order">4</span>前端构建工具之“Webpack”</li>
							<li><span class="order">5</span>前端构建工具之“Webpack”</li>
						</ul>
					</div>
				</div>
			</div>

		<script src="js/detail.js"></script>
		<script>
			var tbody = "<%= artData%>"
			console.log(tbody)
			console.log(JSON.parse(tbody))
			// $('.main p').html()
			var time = $('.tabs .timeNow').html();
			var date = new Date(time);  
    		date_value=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();  
    		//yyyy-MM-dd hh:mm:ss  
    		console.log(date_value)
    		$('.tabs .timeNow').html(date_value) ;

		</script>
	</body>
</html>